<!--The content below is only a placeholder and can be replaced.-->

<div class="jumbotron row">
  <img id="logo" src="assets/logo.png" alt="Our Kitchen Logo" style="height:200px;">
     <h3 id="slogan">We Provide The Best Food
   <br>
   At The <strong>Right Price</strong> </h3></div>
<div class="row">
  <div class="col-md-6">
    <div class="row">
      <app-user-input></app-user-input>
    </div>
    <div class="row">
      <h1>Extra Info here</h1>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <app-quote></app-quote>

    </div>
      <div class="row">
        <app-quote></app-quote>

      </div>
      <div class="row">
        <app-quote></app-quote>

      </div>


  </div>

</div>




<!--
<div class="row">
  <div class="col-md-6">
<P>METADATA</P>
  </div>
  <div class="col-md-6">
    <app-quote></app-quote>

  </div>

</div>
<div class="row" >
  <div class="col-md-6 jumbotron" >
<app-user-input></app-user-input>  </div>
  <div class="col-md-6">
    <app-quote></app-quote>

  </div>

</div>
<div class="row">
  <div class="col-md-6">
    <h1>Extra info here</h1>

  </div>
  <div class="col-md-6">
    <app-quote></app-quote>

  </div>

</div> -->
